@import url(/styles.css);

body, html{
    background-color: transparent;
    overflow: hidden;
}

/*.box-wrapper{
    background-image: url(https://images.pexels.com/photos/2931290/pexels-photo-2931290.jpeg?auto=compress&cs=tinysrgb&w=630&h=375&dpr=1);
    background-repeat : no-repeat;
    background-origin: border-box;
    background-size: cover;
    margin:0;
    padding:20%;
    height: 30vh;
} */
.square {
  position: relative;
  width: 50%;
  border: 1em solid;
  color: white;
  padding: 2em;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: auto;
}


.box-wrapper{
    background-color: black;
    margin:0;
    padding: 10% 20%;
}

.main-content {
    background-color: #0D355A;
    margin: 0;
    padding: 0;
}

.text-1 {
    margin: 0;
    padding: 1em;
    color: white;

}

.thank-you{
    font-size: 3rem;
}

/*@media screen and ( min-device-width: 870px) {
    .box-wrapper{
        background-image: url(https://images.pexels.com/photos/2931290/pexels-photo-2931290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
    }
} */